<%= search_form_for @search do |f| %>

<div class="row">
  <div class="col-md-2">
      <%= f.input :candidate_id_eq, collection: Candidate.all, label: 'Candidate', required: false %>
  </div>
  <div class="col-md-2">
      <%= f.input :relevance_eq, collection: [0,1,2,3,4,5], label: 'Relevance', required: false %>
  </div>
  <div class="col-md-2"> 
      <%= f.input :interest_eq, collection: [0,1,2,3,4,5], label: 'Interest', required: false %>
  </div>
  <div class="col-md-2">
      <%= f.input :skill_eq, collection: [0,1,2,3,4,5], label: 'Skill', required: false %>       
  </div>
  <div class="col-md-2">
      <%= f.input :current_relevance_eq, collection: [true, false], label: 'Current Relevance', required: false %>
  </div>
  <div class="col-md-2">
      <%= f.input :future_relevance_eq, collection: [true, false], label: 'Future Relevance', required: false %>
  </div>
</div>

<div class="row">
  <div class="col-md-12" style="margin-bottom:4em">
    <%= f.submit 'Search', class: "btn btn-primary" %>
    <%= link_to "Clear", needs_analyses_path, class: "btn btn-default", style: "margin-left:0.25em" %>
  </div>
</div>

<% end %>

<table class="table table-hover table-responsive">

    <thead>
    <tr>
      <th colspan="1" style="text-align:center"></th>
      <th colspan="3" class="candidate-columns">Candidate</th>
      <th colspan="2" style="text-align:center">Collaborator</th>
    </tr>
  </thead>

  <thead>
    <tr>
      <th style="width:50%">Activity</th>
      <th style="width:10%;text-align:center" class="left-column">Current<br>Relevance</th>
      <th style="width:10%;text-align:center">Interest</th>
      <th style="width:10%;text-align:center" class="right-column">Skill</th>
      <th style="width:10%;text-align:center">Current<br>Relevance</th>
      <th style="width:10%;text-align:center">Future<br>Relevance</th>
    </tr>
  </thead>

  <tbody>
    <% @grouped_areas.each do |area, needs_analyses| %>
      <tr class="area-row">
        <th style="vertical-align:bottom" scope="rowgroup" colspan="4"><%= area.name %></th>
      </tr>
    <% needs_analyses.each do |needs_analysis| %>
      <tr>
        <td><%= needs_analysis.activity.name %></td>
        <td class="left-column" style="text-align:center"><%= needs_analysis.relevance %></td>
        <td style="text-align:center"><%= needs_analysis.interest %></td>
        <td class="right-column" style="text-align:center"><%= needs_analysis.skill %></td>
        <td style="text-align:center"><%= needs_analysis.current_relevance %></td>
        <td style="text-align:center"><%= needs_analysis.future_relevance %></td>
      </tr>
    <% end %>
  </tbody>
  <% end %>
</table>
