<%= simple_form_for(@role_candidate, html: { class: 'form-vertical'},
wrapper: :vertical_form,
wrapper_mappings: {
check_boxes: :vertical_radio_and_checkboxes, radio_buttons: :vertical_radio_and_checkboxes }
) do |f| %>

  <%= f.error_notification %>

  <div class="form-inputs">

    <div id="role-part1">
    <%= f.input :current_role, label: "Current Role", hint: "What is your current role / job title?" %>
    <%= f.input :time_in_role, label: "Time in Role", hint: "How long have you been doing this role?" %>
    <%= f.input :previous_role, label: "Previous Role", hint: "What was your previous role / job title, immediately prior to your current role?" %>
    <%= f.input :next_role, label: "Next Role", hint: "What is your planned next role / job title? Leave blank if you do not know." %>
    <%= f.input :qualifications, hint: "What qualifications do you have (especially relevant to your current role)?" %>
    </div>

    <a id="show-part2-button" class="btn btn-primary">Next</a>

    <script type="text/javascript">

        function scrollToAnchor(aid){
            var aTag = $("a[name='"+ aid +"']");
            $('html,body').animate({scrollTop: aTag.offset().top},'slow');
        }

        $("#show-part2-button").click(function() {
            $("#role-part2").slideToggle("fast", function() {});
            $(this).hide();
            scrollToAnchor('part2');
        });

    </script>

    <a name="part2"></a>
    <div id="role-part2" style="display:none">
    <%= f.input :previous_role_context, label: "Context of your Previous Role", as: :radio_buttons, collection: context_options, hint: "Select the phrase that most closely describes the level and context of your PREVIOUS role." %>

    <a id="show-part3-button" class="btn btn-primary">Next</a>

    <script type="text/javascript">

        $("#show-part3-button").click(function() {
            $("#role-part3").slideToggle("fast", function() {});
            $(this).hide();
            scrollToAnchor('part3');
        });

    </script>

    </div>

    <a name="part3"></a>
    <div id="role-part3" style="display:none">
    <%= f.input :current_role_context, label: "Context of your Current Role", as: :radio_buttons, collection: context_options, hint: "Select the phrase that most closely describes the level and context of your CURRENT role." %>

    <a id="show-part4-button" class="btn btn-primary">Next</a>

    <script type="text/javascript">

        $("#show-part4-button").click(function() {
            $("#role-part4").slideToggle("fast", function() {});
            $(this).hide();
            scrollToAnchor('part4');
        });

    </script>

    </div>

    <a name="part4"></a>
    <div id="role-part4" style="display:none">
    <%= f.input :next_role_context, label: "Context of your Next Role", as: :radio_buttons, collection: context_options, hint: "Select the phrase that most closely describes the level and context of your NEXT role (if known)." %>
    
    <a id="show-part5-button" class="btn btn-primary">Next</a>

    <script type="text/javascript">

        $("#show-part5-button").click(function() {
            $("#role-part5").slideToggle("fast", function() {});
            $(this).hide();
            scrollToAnchor('part5');
        });

    </script>

    </div>

    <%= render :partial => "part5", :locals=>{:f=>f} %>

    </div>

    <div id="role-part6" style="display:none">
    <%= f.input :secondary_aspect, label: "Other Aspects of your Current Role", hint: "Please note any other aspects of your CURRENT role in which you need to be conversant; anything else you do to be effective in your role." %>

    <%= f.input :unnecessary_aspect, label: "Time Consuming Aspects", hint: "Please list any aspects of your CURRENT role that you think take up too much time." %>

    <%= f.input :short_term_training, label: "Short-term Development Needs", hint: "Please list any learning (training, coaching or mentoring) that you would like in the short-term to help you be more effective in your CURRENT role." %>

    <%= f.input :medium_term_training, label: "Medium-term Development Needs", hint: "Please list any training or qualifications that would help you to develop the role further in the medium-term" %>

    <%= f.input :long_term_training, label: "Longer-term Development Needs", hint: "Please list any development you would hope for that could help you to take the next step in terms of more responsibility or different work in the longer-term." %>
    
    <%= f.button :submit, "Save and Exit", class: "btn btn-success" %>

    </div>

</div>

<% end %>