<p id="notice"><%= notice %></p>

<p>
  <strong>Candidate:</strong>
  <%= @role_candidate.candidate %>
</p>

<p>
  <strong>Current role:</strong>
  <%= @role_candidate.current_role %>
</p>

<p>
  <strong>Time in role:</strong>
  <%= @role_candidate.time_in_role %>
</p>

<p>
  <strong>Previous role:</strong>
  <%= @role_candidate.previous_role %>
</p>

<p>
  <strong>Next role:</strong>
  <%= @role_candidate.next_role %>
</p>

<p>
  <strong>Qualifications:</strong>
  <%= @role_candidate.qualifications %>
</p>

<p>
  <strong>Previous role context:</strong>
  <%= @role_candidate.previous_role_context %>
</p>

<p>
  <strong>Current role context:</strong>
  <%= @role_candidate.current_role_context %>
</p>

<p>
  <strong>Next role context:</strong>
  <%= @role_candidate.next_role_context %>
</p>

<p>
  <strong>Main aspect a:</strong>
  <%= @role_candidate.main_aspect_a %>
</p>

<p>
  <strong>Main aspect b:</strong>
  <%= @role_candidate.main_aspect_b %>
</p>

<p>
  <strong>Main aspect c:</strong>
  <%= @role_candidate.main_aspect_c %>
</p>

<p>
  <strong>Main aspect d:</strong>
  <%= @role_candidate.main_aspect_d %>
</p>

<p>
  <strong>Main aspect e:</strong>
  <%= @role_candidate.main_aspect_e %>
</p>

<p>
  <strong>Main aspect importance a:</strong>
  <%= @role_candidate.main_aspect_importance_a %>
</p>

<p>
  <strong>Main aspect importance b:</strong>
  <%= @role_candidate.main_aspect_importance_b %>
</p>

<p>
  <strong>Main aspect importance c:</strong>
  <%= @role_candidate.main_aspect_importance_c %>
</p>

<p>
  <strong>Main aspect importance d:</strong>
  <%= @role_candidate.main_aspect_importance_d %>
</p>

<p>
  <strong>Main aspect importance e:</strong>
  <%= @role_candidate.main_aspect_importance_e %>
</p>

<p>
  <strong>Main aspect enjoyment a:</strong>
  <%= @role_candidate.main_aspect_enjoyment_a %>
</p>

<p>
  <strong>Main aspect enjoyment b:</strong>
  <%= @role_candidate.main_aspect_enjoyment_b %>
</p>

<p>
  <strong>Main aspect enjoyment c:</strong>
  <%= @role_candidate.main_aspect_enjoyment_c %>
</p>

<p>
  <strong>Main aspect enjoyment d:</strong>
  <%= @role_candidate.main_aspect_enjoyment_d %>
</p>

<p>
  <strong>Main aspect enjoyment e:</strong>
  <%= @role_candidate.main_aspect_enjoyment_e %>
</p>

<p>
  <strong>Secondary aspect:</strong>
  <%= @role_candidate.secondary_aspect %>
</p>

<p>
  <strong>Unnecessary aspect:</strong>
  <%= @role_candidate.unnecessary_aspect %>
</p>

<p>
  <strong>Short term training:</strong>
  <%= @role_candidate.short_term_training %>
</p>

<p>
  <strong>Medium term training:</strong>
  <%= @role_candidate.medium_term_training %>
</p>

<p>
  <strong>Long term training:</strong>
  <%= @role_candidate.long_term_training %>
</p>

<%= link_to 'Edit', edit_role_candidate_path(@role_candidate) %> |
<%= link_to 'Back', role_candidates_path %>
