<div class="row">
  <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">

  <h3>TDNA Matrix<br>
  <small>for <%= current_candidate.name %></small></h3>
  <br>

  <h3><small>Instructions</small></h3>

  <p>The next page shows a list of activities and three rating columns. Like this:</p>

  <%= image_tag 'candidate_matrix.png', width: '100%', class: 'instructions-screenshot' %>

  <p>For each activity, please rate (according to the following scales): the relevance of the activity to your current role; your personal interest in that activity; and your own perceived skill/confidence in that activity.</p>

  <div class="rating-instructions">
    
    <hr>

    <p><strong>Relevance to Current Role</strong><br>
    In the first column, rate each activity where:</p>

    <div class="row">
      <div class="col-lg-3 col-lg-offset-2 col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-4" style="text-align:center">
        <a href='#' class="btn btn-xs btn-default">0</a><br>
        <small>means this activity is <strong>not at all</strong> relevant to my current role</small>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4" style="text-align:center">
      -
      </div>
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4" style="text-align:center">
        <a href='#' class="btn btn-xs btn-default">5</a><br>
        <small>means this activity is as <strong>an essential part</strong> of my current role</small>
      </div>
    </div>

    <hr>

    <p><strong>Interest</strong><br>
    In the second column, rate each activity where:</p>

    <div class="row">
      <div class="col-lg-3 col-lg-offset-2 col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-4" style="text-align:center">
        <a href='#' class="btn btn-xs btn-default">0</a><br>
        <small>means I have <strong>no interest whatsoever</strong> in this activity</small>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4" style="text-align:center">
      -
      </div>
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4" style="text-align:center">
        <a href='#' class="btn btn-xs btn-default">5</a><br>
        <small>means I have a <strong>very high degree</strong> of interest in this activity</small>
      </div>
    </div>

    <hr>

    <p><strong>Skill/Confidence</strong><br>
    In the third column, rate each activity where:</p>

    <div class="row">
      <div class="col-lg-3 col-lg-offset-2 col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-4" style="text-align:center">
        <a href='#' class="btn btn-xs btn-default">0</a><br>
        <small>means I have <strong>absolutely no</strong> skill/confidence in this activity</small>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4" style="text-align:center">
      -
      </div>
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4" style="text-align:center">
        <a href='#' class="btn btn-xs btn-default">5</a><br>
        <small>means I have a <strong>very high degree</strong> of skill/confidence in this activity</small>
      </div>
    </div>
  
    <hr>

  </div>

  <p style="margin-bottom:1em">When you are happy with your responses, simply click 'Save and Exit'.</p>

  <br>
  <!-- This is the button and backend code to ensure the TDNA matrix loads on click -->
  <%= form_tag edit_candidate_needs_analyses_path do %><% @needs_analyses.each do |needs_analysis| %><div style="display:none"><%= check_box_tag "needs_analysis_ids[]", needs_analysis.id, checked: true %></div><% end %><%= submit_tag "Click here to begin", class: "btn btn-sm btn-primary" %><% end %>
  <!-- end -->

  </div>
</div>