<div class="row sign-form">
  <div class="col-md-4 col-md-offset-4">

    <h2>Change your Password</h2>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      
      <%= devise_error_messages! %>

      <%= f.hidden_field :reset_password_token %>

      <%= f.input :password, autofocus: true, autocomplete: "off" %>

      <%= f.input :password_confirmation, autocomplete: "off" %>

      <%= f.submit "Change my Password", class: "btn btn-primary" %>

    <% end %>

  </div>
</div>
