<nav class="navbar navbar-default">
    
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'TDNA', root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      	<% if candidate_signed_in? %>
        	<li class=""><%= link_to 'Get Started', '#' %></li>
          <li class="<%= 'active' if current_page?(candidates_path) %>"><%= link_to 'Candidates', candidates_path %></li>
          <li class="<%= 'active' if current_page?(collaborations_path) %>"><%= link_to 'Collaborations', collaborations_path %></li>
          <li class="<%= 'active' if current_page?(needs_analyses_path) %>"><%= link_to 'TDNAs', needs_analyses_path %></li>
          <li class="<%= 'active' if current_page?(role_candidates_path) %>"><%= link_to 'Roles (Candidate)', role_candidates_path %></li>
          <li class="<%= 'active' if current_page?(role_collaborators_path) %>"><%= link_to 'Roles (Collaborator)', role_collaborators_path %></li>
          <li class="<%= 'active' if current_page?(activities_path) %>"><%= link_to 'Activities', activities_path %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      	<% if candidate_signed_in? %>
      		<li><%= link_to current_candidate.name, edit_candidate_registration_path(current_candidate) %></li>
        	<li><%= link_to "Sign out", destroy_candidate_session_path, method: :delete %></li>      
        <% else %>
        	<li><%= link_to 'Sign up', new_candidate_registration_path %></li>
        	<li><%= link_to 'Sign in', new_candidate_session_path %></li>
        <% end %>
      </ul>

    </div><!-- /.navbar-collapse -->

</nav>