<!DOCTYPE html>
<html>
<head>
  <title>TDNA</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="container-fluid">

		<%= render 'layouts/header' if administrator_signed_in? unless @disable_nav %>
		<%= render 'layouts/candidate_banner' if candidate_signed_in? %>
		<%= flash_messages %>
		<div class="yield-div"><%= yield %></div>
		<%= render 'layouts/footer' if candidate_signed_in? or administrator_signed_in? unless @disable_nav %>
			
	</div>

</body>
</html>
